/* Apply style to container that holds tiles*/
.dashboard-grid{
    display: grid; /*Change display to grid */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /*Create columns */
    gap: 20px; /*Add gap between each of the container elements*/
    padding: 20px; /*Add space around the container as a whole*/
}

/*Apply styling to each */
.tile {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.tile:hover {
    transform: scale(1.03);
    cursor: pointer;
}

/* Set dark theme */

body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit; /* Inherit the color from the parent (e.g. white/gray) */
    text-decoration: none; /* Removes underline */
}

/* Add a hover effect to the tiles */
a:hover {
    color: #00bfff; /* Light blue on hover */
}
