<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>ClearCash</title>
</head>
<body>
    <!-- # Incorporate header from file -->
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}

    <div class="page-layout">
        {% block sidebar %}
        {% endblock %}
    </div>

    <!-- # Main content area -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Incorporate footer from file -->
    {% include 'footer.html' %}

</body>
</html>
