{% extends "base.html" %}

{% block content %}
    <div class="dashboard-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <ul>
                <li><a href="{{url_for('balance')}}">Balance</a></li>
                <li><a href="{{url_for('savings')}}">Savings</a></li>
                <li><a href="{{url_for('expenses')}}">Expenses</a></li>
                <li><a href="{{url_for('spendings')}}">Spending</a></li>
                <!-- Placeholder for add account/card-->
            </ul>
        </aside>
        <!-- Main content -->
        <main class="main-content">
            <h1>Dashboard</h1>

            <section class="dashboard-grid">
                <!-- Placeholder: Will show total balance once data is added -->
                <div class="tile">
                    <a href="{{url_for('balance')}}">
                        <h2><i class="fas fa-wallet"></i> Balance</h2>
                    </a>
                </div>
                <div class="tile">
                    <a href="{{url_for('savings')}}">
                        <h2><i class="fas fa-piggy-bank"></i> Savings</h2>
                    </a>
                </div>
                <div class="tile">
                    <a href="{{url_for('expenses')}}">
                        <h2><i class="fas fa-receipt"></i> Expenses</h2>
                    </a>
                </div>
                <div class="tile">
                    <a href="{{url_for('spendings')}}">
                        <h2><i class="fas fa-chart-line"></i> Spending</h2>
                    </a>
                </div>
            </section>

            <section class="dasboard-charts">
                <div class="chart spending-line-chart">[line chart placeholder]</div>
                <div class="chart spending-pie-chart">[pie chart placeholder]</div>
            </section>
        </main>
    </div>

{% endblock %}
