<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>ClearCash</h1>
        <nav>
            <ul>
                <!-- # Use url_for to generate URLs for routes -->
                <!-- # This will link to the home route via the route func name -->
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
